RewriteEngine On

# Redirect HTTP to HTTPS and non-www to www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ https://www.oddbudy.com%{REQUEST_URI} [L,R=301]

# Disable directory listings
Options -Indexes